NEXTAUTH_URL=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MONGO_URL=
# MAIL_ACCOUNT= Removed
# MAIL_PASS= Removed
FORGOT_PASSWORD_KEY=
DEVELOPER=
# FIREBASE_APIKEY=
# FIREBASE_AUTHDOMAIN=
# FIREBASE_PROJECTID=
# FIREBASE_STORAGEBUCKET=
# FIREBASE_MESSAGING_SENDERID=
# FIREBASE_APPID=
# FIREBASE_MEASUREMENTID=
RAZORPAY_KEY_ID=
RAZORPAY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
PASS_CODE=
SOCKENT_CONNECT_SECRET=
# SS_HOST= Removed
# NEXT_PUBLIC_SS_HOST= Removed
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=